<% content_for :title, "Editing Post" %>

<div class="container my-5">
  <h1 class="text-center mb-4">Editing Post</h1>

  <div class="card">
    <div class="card-body">
      <%= render "form", post: @post %>
    </div>
  </div>

  <div class="mt-4 text-center">
    <%= link_to "Back to Posts", root_path, class: "btn btn-secondary" %>
  </div>
</div>
